    <% if (typeof show == 'undefined') { %>
    <footer>
        <div class="secondary-footer container">
            <div>
                <a href="/" class="primary-color">Futsalo</a>
                <p>Deskripsi singkat mengenai futsalo yang singkat untuk ditempatkan di footer.</p>
            </div>
            <div>
                <span class="footer-title">Menu</span>
                <ul>
                    <li><a href="/">Beranda</a></li>
                    <li><a href="/fields">Cari Lapangan Futsal</a></li>
                    <li><a href="/about">Tentang</a></li>
                    <li><a href="mailto:email@futsalo.com">Kontak</a></li>
                </ul>
            </div>
            <div>
                <span class="footer-title">Cari lapangan</span>
                <ul>
                    <li><a href="/fields">Cari Lapangan</a></li>
                    <li><a href="/profile?type=global&city=jogja">Lapangan Futsal di Jogja</a></li>
                    <li><a href="/profile?type=global&city=bantul">Lapangan Futsal di Bantul</a></li>
                    <li><a href="/profile?type=global&city=sleman">Lapangan Futsal di Sleman</a></li>
                </ul>
            </div>
            <div class="d-flex flex-column">
                <span class="footer-title">Kontak</span>
                <a href="mailto:email@futsalo.com">email@futsalo.com</a>
                <span>0819 9892 8918</span>
            </div>
        </div>
        <div class="primary-footer">Copyright &copy; Futsalo 2018</div>
    </footer>
    <script>
        if (document.documentElement.scrollHeight <= window.innerHeight) {
            const footer = document.getElementsByTagName('footer')[0]
            const main = document.getElementsByTagName('main')[0]
            footer.style = "position: absolute; bottom: 0;"
        }
    </script>
    <% } %>


    <script src="/dependencies/jquery-3.3.1.min.js"></script>
    <script src="/dependencies/popper.min.js"></script>
    <script src="/dependencies/bootstrap/bootstrap.min.js"></script>
</body>
</html>