.detail {
    background-color: #F7F7F8;
}

section {
    background-color: white;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 32px;
}

.breadcrums,
.breadcrums > a {
    color: #727376;
    margin-bottom: 8px;
}

.breadcrums > a:first-of-type {
    margin-right: 8px;
}

.breadcrums > a:not(:first-of-type) {
    margin: 0 8px;
}

.location-icon {
    color: var(--primary-color);
}

.detail-description > div {
    margin-bottom: 24px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start !important;
}

.item {
    position: relative;
    width: calc((100% - 40px)/5);
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .1);
    margin: 0 4px;
    margin-bottom: 16px;
}

.see-more {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(31, 170, 0, .1);
    border-radius: 4px;
    padding-bottom: 30px;
}

.see-more > a {
    padding: 8px 32px;
    cursor: pointer;
}

.see-more > a:hover {
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .2);
}

.item:hover {
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .2);
}

.item:hover .see-more {
    display: flex;
}

.item p {
    margin-bottom: 0;
}

.item .liked {
    position: absolute;
    right: 16px;
    top: 16px;
}

.item .small-title {
    font-size: 18px;
    font-weight: bold;
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 8px;
}

.swiper-container {
    width: 500px;
    height: 300px;
    background-color: rgb(233, 233, 233);
    margin: 0;
    margin-right: 16px;
    flex: 0 0 auto;
}

.swiper-container img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000  \
  '%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-pagination-bullet-active {
    background: #000000;
}

.booking-div {
    display: flex;
}

.resume {
    width: 320px; 
    height: 200px; 
    background: white; 
    flex: 0 0 auto;
    margin-left: 16px;
}

.resume > div {
    padding: 8px;
    background-color: #F7F7F8;
}

.resume .resume-list {
    padding-left: 20px;
}

.need-login {
    background-color: #F7F7F8;
    border-radius: 8px;
    padding: 32px 0;
}

.booking-date {
    margin-top: 16px;
}

.date-list {
    list-style: none;
    padding: 0;
}

.date-list > li {
    background-color: #eee;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: .8rem;
    width: calc((100% - 64px)/7);
    cursor: pointer;
}

.date-list > li.active {
    position: relative;
    background-color: var(--primary-color);
    color: white;
}

.date-list > li.active::after{
    content: '';
    width: 0; 
    height: 0; 
    position: absolute;
    bottom: -10px;
    left: calc((100% - 30px)/2);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid var(--primary-color);
}

.date-list > li:hover {
    background-color: var(--primary-color);
    color: white;
}

.date-list > li > span {
    font-weight: 600;
    font-size: 1rem;
}

.futsal-fields {
    list-style: none;
    padding: 8px;
    background-color: #F7F7F8;
}

.futsal-fields > li {
    padding: 8px 0;
}

.futsal-fields > li:not(:first-of-type) {
    border-top: 1px solid #e1e1e1;
}

.hours {
    padding: 8px 0;
    list-style: none;
    font-size: 1rem;
}

.hour {
    width: calc((100% - 28px)/6);
    background-color: white;
    border: 1px solid #eee;
    margin-bottom: 4px;
    padding: 4px;
    border-radius: 4px;
    background-color: #dc3545;
    color: white;
    cursor: context-menu;
}

.hour.available {
    background-color: white;
    border: 1px solid #eee;
    color: var(--black);
    cursor: pointer;
}

.hour.available:hover {
    background-color: rgba(52, 248, 8, 0.411);
    border: 1px solid #eee;
    color: var(--black);
}

.hour.available.selected {
    background-color: var(--primary-color);
    color: white;
}

.hour.available.selected:hover {
    opacity: .9;
}

.detail-description {
    width: 100%;
}

.detail-description .join-area {
    margin-bottom: 4px;
}

.join-area p {
    margin: 0;
}

.join-info tr > td:nth-of-type(2) {
    padding: 0 8px;
}

@media only screen and (max-width: 480px) {
    .items {
        justify-content: flex-start !important;
    }

    .item {
        width: calc((100% - 24px)/2);
        margin-bottom: 16px;
        margin-left: 8px;
        margin-right: 0;
    }

    section.container {
        padding: 16px 8px;
    }

    main {
        padding-top: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .swiper-container {
        width: 100%;
        height: 200px;
        margin-bottom: 16px;
    }

    .swiper-container img {
        object-fit: cover;
        object-position: center;
    }

    .detail-info > div {
        flex-direction: column;
    }

    .booking-btn {
        width: 100%;
    }

    .item {
        width: calc((100% - 24px)/2);
        margin-bottom: 16px;
    }

    .booking-div {
        display: flex;
        flex-direction: column !important;
    }

    .booking-date {
        margin-top: 16px;
    }

    .date-list {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .date-list > li {
        display: inline-block;
        width: 142px !important; 
    }

    .date-list > li:not(:first-of-type) {
        margin-left: 8px;
    }

    .hour {
        width: calc((100% - 16px)/3);
    }

    .resume {
        width: 100%;
        margin-left: 0;
        margin-bottom: 16px;
    }
}

@media only screen and (max-width: 992px) {
    .swiper-container {
        width: 100%;
        height: 200px;
        margin-bottom: 16px;
    }

    .detail-info > div {
        flex-direction: column;
    }

    .recommendations {
        justify-content: flex-start !important;
    }

    .recommendation-item {
        width: calc((100% - 32px)/3);
        margin-bottom: 16px;
        margin-left: 8px;
        margin-right: 0;
    }
}