section {
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 32px;
}

main {
    padding-top: 16px;
    margin-top: 56px;
}

.row {
    padding-top: 0;
    margin: 0;
}

.content {
    background-color: #F7F7F8;
}

.content > section > div {
    background-color: white;
    border: 1px solid #eee;
    padding-top: 16px;
    padding-bottom: 16px;
}

.breadcrums,
.breadcrums>a {
    color: #727376;
    margin-bottom: 8px;
}

.breadcrums>a:first-of-type {
    margin-right: 8px;
}

.breadcrums>a:not(:first-of-type) {
    margin: 0 8px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start !important;
}

.item {
    position: relative;
    width: calc((100% - 40px)/5);
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .1);
    margin: 0 4px;
    margin-bottom: 16px;
}

.see-more {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(31, 170, 0, .1);
    border-radius: 4px;
    padding-bottom: 30px;
}

.see-more > a {
    padding: 8px 32px;
    cursor: pointer;
}

.see-more > a:hover {
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .2);
}

.item:hover {
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .2);
}

.item:hover .see-more {
    display: flex;
}

.item p {
    margin-bottom: 0;
}

.item .liked {
    position: absolute;
    right: 16px;
    top: 16px;
}

.item .small-title {
    font-size: 18px;
    font-weight: bold;
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 8px;
}

.page-item.active .page-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

@media only screen and (max-width: 992px) {
    .items {
        justify-content: flex-start !important;
    }

    .item {
        width: calc((100% - 32px)/3);
        margin-bottom: 16px;
        margin-left: 8px;
        margin-right: 0;
    }
}

@media only screen and (max-width: 480px) {
    .items {
        justify-content: flex-start !important;
    }

    .item {
        width: calc((100% - 24px)/2);
        margin-bottom: 16px;
        margin-left: 8px;
        margin-right: 0;
    }

    section.container {
        padding: 16px 4px;
    }

    main {
        padding-top: 16px;
    }
}