section {
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 32px;
}

main {
    padding-top: 16px;
    margin-top: 56px;
}

.row {
    padding-top: 0;
    margin: 0;
}

.content {
    background-color: #F7F7F8;
}

.content > section > div {
    background-color: white;
    border: 1px solid #eee;
    padding-top: 16px;
    padding-bottom: 16px;
}

.page-item.active .page-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.profile {
    padding: 0 4px 16px 4px;
}

.profile .title {
    font-size: .9rem;
}

.profile .title + span {
    font-size: .8rem;
}

.profile-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 16px;
}

.profile .edit {
    font-size: .8rem;
    color: var(--primary-color);
}

.posts {
    width: 100%;
    list-style: none;
    padding-left: 0;
    padding: 8px;
}

.post {
    background-color: white;
    border-bottom: 1px solid #eee;
    padding: 8px;
    margin: 4px 0;
    font-size: .8rem;
    width: 100%;
}

.post .title {
    font-size: .9rem;
}

.post a.btn {
    width: 80px;
    font-size: .8rem;
}

.post > div > div > div {
    padding: 0 8px;
}

.post .text {
    margin-bottom: 8px;
}

.event {
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.event i {
    margin-right: 4px;
}

.post-type {
    border-bottom: 1px solid #eee;
    padding-bottom: 16px;
}

.toggle-post {
    background-color: white;
    color: var(--primary-color);
    color:black;
    font-weight: 600;
    font-size: .9rem;
    text-decoration: underline;
}

.toggle-post.active {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    text-decoration: none;
}

.toggle-post:focus,
.toggle-post.focus {
    box-shadow: unset !important;
}

.owned-field {
    list-style: none;
    padding: 0;
}

.owned-field > li {
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 1px rgb(218, 218, 218);
}

.owned-field > li > a {
    display: flex;
    font-size: .9rem;
}

.owned-field h5 {
    margin-bottom: 4px;
}

.owned-field img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 480px) {

    section.container {
        padding: 16px 4px;
    }

    main {
        padding-top: 16px;
    }
}