<% include partials/header %>

<link rel="stylesheet" href="/styles/home.css">
<main>
    <section class="intro container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h1 class="app-brand primary-color">Futsalo</h1>
                <h1>404: Maaf, halaman tidak ditemukan</h1>
                <a class="btn primary-bg" href="/">Kembali ke beranda</a>
                <a class="btn primary-bg" href="/fields">Pesan Lapangan</a>
            </div>
            <div class="col-lg-4 col-md-4 d-none d-md-block">
                <img class="home-accent" src="/images/home.png" alt="home accent">
            </div>
        </div>
        <img class="home-particles" src="/images/particles.png">
    </section>
</main>

<%- include('partials/footer', {show: false}) %>