<% include partials/header %>

<link rel="stylesheet" href="/styles/home.css">
<main>
    <section class="intro container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h3 class="mb-4">Terimakasih sudah menggunakan layanan dari <span class="primary-color">Futsalo<span></h3>
                <a class="btn primary-bg" href="/profile">Kembali ke profil</a>
                <a class="btn primary-bg" href="/fields">Pesan Lapangan</a>
            </div>
            <div class="col-lg-4 col-md-4 d-none d-md-block">
                <img class="home-accent" src="/images/home.png" alt="home accent">
            </div>
        </div>
        <img class="home-particles" src="/images/particles.png">
    </section>
</main>

<% include partials/footer %>