<% include partials/header %>

<main class="container">
    <section class="panel panel-default">
        <div class="panel-body">
            <div class="panel-heading"> 
                <h3 class="panel-title mb-4">Tambah lapangan baru</h3> 
            </div> 
            <form action="/fields" method="POST" class="form-horizontal row" role="form" enctype="multipart/form-data">
                <div class="form-group col-lg-9 col-sm-12">
                    <label for="name" class="control-label">Nama lapangan</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Nama lapangan" required>
                </div>
                <div class="form-group col-lg-9 col-sm-12">
                    <label for="address" class="control-label">Alamat</label>
                    <input type="text" class="form-control" name="address" id="address" placeholder="Alamat lapangan" required>
                </div>
                <div class="row col-lg-9 col-sm-12">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label for="province" class="control-label">Provinsi</label>
                        <select class="form-control" name="province" required>
                            <option>DIY</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label for="city" class="control-label">Kota / Kabupaten</label>
                        <select class="form-control" name="city" required>
                            <option>Bantul</option>
                            <option>Gunung Kidul</option>
                            <option>Jogjakarta</option>
                            <option>Kulon Progo</option>
                            <option>Sleman</option>
                        </select>
                    </div>
                </div>
                <div class="row col-lg-9 col-sm-12">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label for="open" class="control-label">Jam Buka</label>
                        <select class="form-control" name="open" required>
                            <option>00.00</option>
                            <option>01.00</option>
                            <option>02.00</option>
                            <option>03.00</option>
                            <option>04.00</option>
                            <option>05.00</option>
                            <option>06.00</option>
                            <option>07.00</option>
                            <option>08.00</option>
                            <option>09.00</option>
                            <option>10.00</option>
                            <option>11.00</option>
                            <option>12.00</option>
                            <option>13.00</option>
                            <option>14.00</option>
                            <option>15.00</option>
                            <option>16.00</option>
                            <option>17.00</option>
                            <option>18.00</option>
                            <option>19.00</option>
                            <option>20.00</option>
                            <option>21.00</option>
                            <option>22.00</option>
                            <option>23.00</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label for="closed" class="control-label">Jam Tutup</label>
                        <select class="form-control" name="closed" required>
                            <option>00.00</option>
                            <option>01.00</option>
                            <option>02.00</option>
                            <option>03.00</option>
                            <option>04.00</option>
                            <option>05.00</option>
                            <option>06.00</option>
                            <option>07.00</option>
                            <option>08.00</option>
                            <option>09.00</option>
                            <option>10.00</option>
                            <option>11.00</option>
                            <option>12.00</option>
                            <option>13.00</option>
                            <option>14.00</option>
                            <option>15.00</option>
                            <option>16.00</option>
                            <option>17.00</option>
                            <option>18.00</option>
                            <option>19.00</option>
                            <option>20.00</option>
                            <option>21.00</option>
                            <option>22.00</option>
                            <option>23.00</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-lg-9 col-sm-12">
                    <label for="price" class="control-label">Harga sewa (per jam)</label>
                    <input type="number" class="form-control" name="price" id="price" placeholder="50000" required>
                </div>
                <div class="form-group col-lg-9 col-sm-12">
                    <label for="description" class="control-label">Deskripsi</label>
                    <textarea class="form-control" name="description" placeholder="Deskripsi" required></textarea>
                </div>
                <div class="form-group col-lg-9 col-sm-12">
                    <label for="fieldImages" class="control-label">Gambar</label>
                    <input class="form-control" name="fieldImages" type="file" accept="image/*" multiple/>
                </div>
                <div class="form-group col-lg-9 col-sm-12 mt-3">
                    <a class="btn btn-secondary mr-2" href="/profile">Batal</a>
                    <button type="submit" class="btn btn-primary">Tambahkan lapangan!</button>
                </div>
            </form>
        </div>
    </section>
</main>

<% include partials/footer %>