<% include partials/header %>

<link rel="stylesheet" href="/dependencies/swiper/swiper.min.css">
<link rel="stylesheet" href="/styles/detail.css">
<main class="detail">
    <div class="modal fade" id="bookingConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Konfirmasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="resume-list">
                Anda belum memilih jadwal
                </ul>
            </div>
            <div class="modal-footer">
                <form class="submitForm" method="POST" action="/fields/<%= field._id %>/checkout">
                    <input type="hidden" class="submittedData" name="data" required>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <input type="button" onclick="validate()" class="btn primary-bg" value="Lanjut">
                </form>
            </div>
            </div>
        </div>
    </div>
    <div class="container breadcrums">
        <!-- <a href="index.html">Home</a> &gt; <a href="#">Lapangan Futsal</a> &gt; <a href="detail.html">Hale Futsal</a> -->
    </div>
    <section class="detail-info container">
        <div class="d-flex justify-content-start">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <% if (field.images.length > 0) { %> 
                        <% field.images.forEach(function(image) { %>
                        <div class="swiper-slide">
                            <img src="<%= image %>">
                        </div>
                        <% }) %>
                    <% } else { %>
                        <div class="swiper-slide">
                            <img src="/images/logo.png" class="p-5" style="background: #eee; object-fit: contain;">
                        </div>
                    <% } %>
                </div>
                <% if (field.images.length > 0) { %> 
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <% } %>
            </div>
            <div class="detail-description">
                <h1 class="name d-flex justify-content-between align-items-center"><span><%= field.name %></span><span style="font-size: 1.2rem" class="font-weight-bold">Rp. <%= field.price %>/Jam<span></h1>
                <div class="d-flex align-items-start">
                    <span class="material-icons location-icon">location_on</span>
                    <%= `${field.address}, ${field.city}, ${field.province}` %>
                </div>
                <p class="short-description"><%= field.description %></p>
            </div>
        </div>
        <div class="booking-date">
            <p class="title">Pilih jadwal</p>
            <ul class="date-list d-flex flex-row justify-content-between">
            </ul>
            <% if (!user) { %>
            <div class="need-login d-flex flex-column align-items-center">
                <p class="mb-1">Login untuk melihat jadwal dan memesan lapangan</p>
                <a href="/login" class="btn primary-bg">Login</a>
            </div>
            <% } else { %>
            <div class="booking-div">
                <ul class="futsal-fields">
                    <li>
                        <ul class="hours d-flex justify-content-between flex-wrap">
                        </ul>
                    </li>
                </ul>
                
                <div class="resume">
                    <div class="d-flex flex-column">
                        <p class="title">Rangkuman pesanan</p>
                        <ul class="resume-list">
                            Anda belum memilih jadwal
                        </ul>
                        <a href="#" class="btn primary-bg" data-toggle="modal" data-target="#bookingConfirmation">Pesan Sekarang!</a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </section>

    <p class="title container">Rekomendasi lain</p>
    <section class="container">
        <div class="recommendations items d-flex justify-content-between">
        <% recommendations.forEach(function(item) { %>
            <div class="item">
                <% if (item.images.length > 0) { %>
                <img src="<%= item.images[0] %>">
                <% } else { %>
                <img src="/images/logo.png" class="p-3" style="background: #eee; object-fit: contain;">
                <% } %>
                <p class="small-title"><%= item.name %></p>
                <p class="location"><%= item.city %>, <%= item.province %></p>
                <div class="see-more">
                    <a class="btn primary-bg" href="/fields/<%= item._id %>">Lihat</a>
                </div>
            </div>
        <% }) %>
        </div>
    </section>
</main>

<script src="/dependencies/swiper/swiper.min.js"></script>
<script src="/dependencies/moment-with-locales.js"></script>
<script>
    const swiper = new Swiper('.swiper-container', {
        pagination: {
            el: '.swiper-pagination',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }
    });

    moment.locale('id')
    const field = JSON.parse(`<%- JSON.stringify(field) %>`)
    const hoursUl = document.querySelectorAll('.hours')[0];
    const resume = document.querySelectorAll('.resume-list');
    const submittedData = document.querySelector('.submittedData');
    const submitForm = document.querySelector('.submitForm');
    let selected = []
    let selectedHourNumber = []
    let selectedDay = 0
    let price = 0
    let dates = ''
    let dateUl = document.getElementsByClassName('date-list')[0]

    for (let i = 0; i < 7; i ++) {
        let thisDate = moment().add(i+1, 'days').format('dddd D MMMM YYYY').split(' ')
        thisDate = `<li index="${i}" onclick="renderHours('${thisDate[1]}', '${thisDate[2]}', '${thisDate[3]}')"><span class="day">${thisDate[0]}</span><br>${thisDate[1]} ${thisDate[2]} ${thisDate[3]}</li>`
        dates += thisDate
    }
    dates = new DOMParser().parseFromString(dates, 'text/html');
    dateUl.innerHTML = dates.body.innerHTML
    const dateList = document.querySelectorAll('.date-list > li');

    const selectHour = function(e) {
        let selectedHour = selectedDay + ', ' + e.target.innerHTML
        if (selected.filter(item => item == selectedHour).length > 0) {
            selected.forEach((item, index) => item == selectedHour ? selected.splice(index, 1) : null)
            e.target.classList.remove('selected')
        } else {
            selected.push(selectedHour)
            e.target.classList.add('selected')
        }

        let selectedLi = ``
        if (selected.length > 0) {
            selected.forEach(item => {
                selectedLi += `<li>${item}</li>`
            })
            selectedLi = new DOMParser().parseFromString(selectedLi, 'text/html');
            resume[0].innerHTML = selectedLi.body.innerHTML
            resume[1].innerHTML = selectedLi.body.innerHTML
            submittedData.value = ''
            selected.forEach(item => {
                submittedData.value += item
            })
        } else {
            submittedData.value = ''
            resume[0].innerHTML = 'Anda belum memilih jadwal'
            resume[1].innerHTML = 'Anda belum memilih jadwal'
        }
    }

    const renderHours = function(date, month, year) {
        let bookList = field.bookList
        console.log(field.bookList)
        let string = date + '-' + month + '-' + year
        let open = new Array(Number(field.open)).fill(false)
        let closed = new Array(24 - Number(field.closed)).fill(false)
        let hours = [...open, ...(new Array(24 - Number(field.open) - (24 - Number(field.closed))).fill(true)),...closed]
        let liHours = ''
        if (typeof bookList !== 'undefined' && bookList.length > 0) {
            bookList.forEach(function(item) {
                if (item.date == string) {
                    item.hours.forEach(function(hour) {
                        hours[hour.hour] = false
                    })
                }
            })
        }

        hours.forEach(function(hour, index) {
            let a = string.split('-').join(' ') + index
            let selectedBefore = selected.filter(item => a == (item.split(', ')[1] + Number(item.split(', ')[2].split('.')[0])))
            let num = (index < 10) ? `0${index}.00` : `${index}.00`
            let next = (index+1 < 10) ? `0${index+1}.00` : `${index+1}.00`
            if (hour && selectedBefore.length > 0) {
                liHours += `<li class="hour available selected">${num} - ${next}</li>`
            } else if (hour && selectedBefore.length == 0) {
                liHours += `<li class="hour available">${num} - ${next}</li>`
            } else {
                liHours += `<li class="hour">${num} - ${next}</li>`
            }
        })
        liHours = new DOMParser().parseFromString(liHours, 'text/html');
        hoursUl.innerHTML = liHours.body.innerHTML
        document.querySelectorAll('.hours > li.available').forEach(item => item.addEventListener('click', selectHour))
    }

    const selectDay = function(index) {
        dateList[index].classList.add('active')
        selectedDay = dateList[index].getElementsByTagName('SPAN')[0].innerText + ', ' + dateList[index].innerHTML.split('<br>')[1]
        let getDate = dateList[index].innerHTML.split('<br>')[1].split(' ')
        renderHours(getDate[0], getDate[1], getDate[2])
    }

    selectDay(0)

    dateList.forEach(date => {
        date.addEventListener('click', (e) => {
            dateList.forEach((date, index) => {
                date.classList.remove('active');
            });

            selectDay(Number(e.target.getAttribute('index')))
        })
    })

    const validate = function() {
        if (submittedData.value.length == 0 || submittedData.value == '' || submittedData.value == null) {
            alert('Anda belum memilih jadwal')
        } else {
            submitForm.submit()
        }
    }
</script>

<% include partials/footer %>