<% include partials/header %>

<link rel="stylesheet" href="/styles/fields.css">
<main class="content">
    <section class="row">
        <div class="col-lg-2 search-box">
            <p class="mb-2 font-weight-bold">Temukan lapangan</p>
            <form class="d-flex flex-column" method="GET" action="/fields">
                <select required name="province" class="mt-2">
                    <option value="all" disabled selected>Semua Provinsi</option>
                    <option value="DIY">DIY</option>
                </select>
                <select required name="city" class="mt-2">
                    <option value="all" disabled selected>Semua Kota</option>
                    <option>Bantul</option>
                    <option>Gunung Kidul</option>
                    <option>Jogjakarta</option>
                    <option>Kulon Progo</option>
                    <option>Sleman</option>
                </select>
                <input type="submit" value="Cari" class="btn primary-bg mt-2">
            </form>
        </div>
        <div class="col-lg-10 fields-container">
            <div class="items d-flex justify-content-between">
                <% if (fields.length > 0) { %>
                    <% fields.reverse().forEach(function(field) { %>
                    <div class="item">
                        <% if (field.images.length > 0) { %>
                            <img src="<%= field.images[0] %>">
                        <% } else { %>
                            <img src="/images/logo.png" class="p-3" style="background: #eee; object-fit: contain;">
                        <% } %>
                        <p class="small-title"><%= field.name %></p>
                        <p class="location"><%= `${field.city}, ${field.province}` %></p>
                        <div class="see-more">
                            <a class="btn primary-bg" href="/fields/<%= field._id %>">Lihat</a>
                        </div>
                    </div>
                    <% }) %>
                <% } else { %> 
                <p>Untuk saat ini lapangan tidak tersedia.</p>
                <% } %>
            </div>
            <!--
            <div class="d-flex justify-content-center mt-3">
                <ul class="pagination mb-0">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </div>
            -->
        </div>
    </section>
</main>

<% include partials/footer %>