<%- include('partials/header', {nav: false}) %>

<link rel="stylesheet" href="/styles/auth.css"></link>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5" style="border: none">
                <div class="card-body">
                    <div class="card-title text-center">
                        <img src="/images/logo.png" height="30px">
                    </div>
                    <h5 class="card-title text-center mt-3 mb-3"><strong>Masuk<strong></h5>
                    <form class="form-signin" action="/login" method="POST">
                        <div class="form-label-group">
                            <input type="text" id="identity" name="username" class="form-control" placeholder="Username or email"
                                required autofocus>
                        </div>
                        <div class="form-label-group mt-3">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                                required>
                        </div>
                        
                        <input class="btn primary-bg w-100 mt-3" type="submit" value="Masuk">
                    </form>
                    <p class="text-center text-secondary mt-3">Belum punya akun? <a class="text-link" href="/register">Daftar disini</a></p>
                    <!-- <hr> -->
                    <!-- <a href="#" class="btn btn-danger w-100">Masuk dengan Google</a> -->
                    <div class="card-title text-center">
                        <hr style="size: solid 2px;">
                        <h3 style="font-size: 15px;color: grey;">Futsalo Inc.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const identity = document.getElementById('identity')
    const emailRegex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

    const isEmail = function(input) {
        return emailRegex.test(input)
    }

    identity.addEventListener('input', function(e) {
        let input = e.target.value
        let email = isEmail(input)
        if (email) this.setAttribute('name', 'email');
        else this.setAttribute('name', 'username');
    })
</script>