<% include partials/header %>

<main class="container">
    <div class="row m-y-2">
        <!-- edit form column -->
        <div class="col-lg-8 push-lg-4 personal-info">
            <form role="form" action="/profile?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Nama</label>
                    <div class="col-lg-9">
                        <input class="form-control" name="name" type="text" value="<%= user.name %>" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Username</label>
                    <div class="col-lg-9">
                        <input class="form-control" name="username" type="text" value="<%= user.username %>" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Nomor telepon</label>
                    <div class="col-lg-9">
                        <input class="form-control" name="phone" type="phone" value="<%= user.phone %>" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Foto profil</label>
                    <div class="col-lg-9">
                        <input class="form-control" name="profileImage" type="file" accept="image/*" value="<%= user.image %>" placeholder="<%= user.image %>" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <a class="btn btn-secondary" href="/profile">Batal</a>
                        <input type="submit" class="btn primary-bg" value="Simpan" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<% include partials/footer %>