<% include partials/header %>

<link rel="stylesheet" href="/styles/profile.css">
<main class="content">
    <section class="row">
        <div class="col-lg-2 search-box">
            <% if (booked.length > 0 || joined.length > 0) { %>
            <div class="mt-0 mb-0">
                <p>Aktivitas terkini</p>
                <ul class="owned-field">
                    <% booked.forEach(function(book) { %>
                    <li>
                        <div style="font-size: .9rem">
                            <p class="small-title mb-0">
                                <span class="font-weight-bold"><%= book.field.name %></span>
                                <span><%= `${book.field.city}, ${book.field.province}` %></span>
                            </p>
                            <p class="small-title mb-0">
                                <span class="act">Booking</span>
                                <span class="act-des"><%= `${book.data.date.split('-').join(' ')}, Jam ${book.data.hour}` %></span>
                            </p>
                        </div>
                    </li>
                    <% }) %>
                    <% joined.forEach(function(join) { %>
                    <li>
                        <div style="font-size: .9rem">
                            <p class="small-title mb-0">
                                <span class="font-weight-bold"><%= join.field.name %></span>
                                <span><%= `${join.field.city}, ${join.field.province}` %></span>
                            </p>
                            <p class="small-title mb-0">
                                <span class="act">Join</span>
                                <span class="act-des"><%= `${join.data.date} - ${join.data.hour}` %></span>
                            </p>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
            <% } else { %> 
            <p class="mt-2 mb-1">Tidak ada aktivitas terkini.</p>
            <% } %>
        </div>
        <div class="col-lg-7 onwedFields-container">
            <form action="/profile" method="POST" class="pb-3" style="border-bottom: 2spx solid #eee">
                <% if (booked.length > 0) { %>
                    <textarea 
                        rows="2"
                        name="description" 
                        class="w-100"
                        style="border-radius: 2px" 
                        placeholder="Bagikan event anda ..."
                        required></textarea>
                <% } else { %>
                    <textarea 
                        rows="2" 
                        class="w-100"
                        style="border-radius: 2px" 
                        placeholder="Bagikan event anda ..."
                        disabled
                        required></textarea>
                <% } %>
                <div class="d-flex justify-content-between">
                    <select required name="bookID">
                        <% if (booked.length > 0) { %>
                            <% booked.forEach(function(book) { %>
                                <option value='<%= book._id %>'><%= `${book.field.name}, ${book.data.date.split('-').join(' ')}, Jam ${book.data.hour}` %></option>
                            <% }) %>
                        <% } else { %>
                            <option value="all" disabled selected>Anda tidak memiliki riwayat booking</option>
                        <% } %>
                    </select>
                    <button class="btn primary-bg">Bagikan</button>
                </div>
            </form>
            <div class="items d-flex flex-column">
                <ul class="posts d-flex flex-column">
                    <% posted.reverse().forEach(post => { %>
                    <li class="post">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <img class="profile-img" alt="profile" src="<%= post.author.image ? post.author.image : '/images/profile.png'%>">
                                <div class="d-flex flex-column">
                                    <span class="title"><%= post.author.name %></span>
                                    <p class="text"><%= post.text %></p>
                                    <span class="event"><i class="material-icons medium">event</i><%= `${post.book.fieldName}, ${post.book.date}`%></span>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end">
                                <% if (post.author.id.toString() === user._id.toString()) { %>
                                <a class="btn btn-danger mb-1" href="/p/<%= post._id %>/delete">Hapus</a>
                                <% } else { %>
                                    <% if (post.joined.join(',').includes(user._id)) { %>
                                    <a class="btn btn-secondary mb-1" href="/p/<%= post._id %>/cancel">Batal</a>
                                    <% } else { %>
                                    <a class="btn primary-bg mb-1" href="/p/<%= post._id %>/join">Gabung</a>
                                    <% } %>
                                <% } %>
                                <p><%= post.joined.length > 0 ? post.joined.length + ' orang bergabung' : ''%></p>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 profile-container">
            <div class="profile d-flex">
                <img class="profile-img" src="<%= user.image ? user.image : '/images/profile.png'%>" alt="profile">
                <div class="d-flex flex-column justify-content-center">
                    <span class="title"><%= user.name %></span>
                    <span><%= user.email %></span>
                    <a class="edit" href="/profile/<%= user._id %>/edit">edit</a>
                </div>
            </div>
            <a href="/fields/create" class="btn btn-primary w-100" style="font-size: .9rem">Promosikan lapangan Anda!</a>
            <div>
                <% if (ownedFields.length > 0) { %>
                <div class="mt-4 mb-0">
                    <p>Lapangan anda:</p>
                    <ul class="owned-field">
                        <% ownedFields.forEach(function(field) { %>
                        <li>
                            <a href="/fields/<%= field._id %>">
                                <% if (field.images.length > 0) { %>
                                <img src="<%= field.images[0] %>">
                                <% } else { %>
                                <img src="/images/logo.png" class="p-2" style="background: #eee; object-fit: contain;">
                                <% } %>
                                <div>
                                    <p class="small-title mb-0 font-weight-bold"><%= field.name %></p>
                                    <span><%= `${field.city}, ${field.province}` %></span>
                                </div>
                            </a>
                        </li>
                        <% }) %>
                    </ul>
                </div>
                <% } else { %> 
                <p class="mt-2 mb-1">Anda tidak memiliki lapangan.</p>
                <% } %>
            </div>
        </div>
    </section>
</main>

<% include partials/footer %>