<%- include('partials/header', {nav: false}) %>

<link rel="stylesheet" href="/styles/auth.css"></link>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5" style="border: none;">
                <div class="card-body">
                    <div class="card-title text-center">
                        <img src="/images/logo.png" height="30px">
                    </div>
                    <h5 class="card-title text-center mt-3 mb-3"><strong>Daftar akun baru sekarang<strong></h5>
                    <form class="form-signin" action="/register" method="POST">
                        <div class="form-label-group">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Nama lengkap"
                                oninvalid="this.setCustomValidity('Nama lengkap tidak boleh kosong')"
                                oninput="this.setCustomValidity('')"
                                required autofocus>
                        </div>
                        <div class="form-label-group mt-3">
                            <input pattern=".{5,}" type="text" id="username" name="username" class="form-control" placeholder="Username"
                                oninvalid="this.setCustomValidity('Username minimal 5')"
                                oninput="this.setCustomValidity('')"     
                                required autofocus>
                        </div>
                        <div class="form-label-group mt-3">
                            <input type="text" id="email" name="email" class="form-control" placeholder="Email"
                                oninvalid="this.setCustomValidity('Gunakan format email yang benar')"
                                oninput="this.setCustomValidity('')"
                                required autofocus>
                        </div>
                        <div class="form-label-group mt-3">
                            <input type="text" id="phone" name="phone" class="form-control" placeholder="No. Telepon"
                                oninvalid="this.setCustomValidity('Nama lengkap tidak boleh kosong')"
                                oninput="this.setCustomValidity('')"
                                required autofocus>
                        </div>
                        <div class="form-label-group mt-3">
                            <input pattern=".{6,}" oninput="passwordValidation()" type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                            <small class="form-text text-secondary ml-1">Minimal 6 karakter</small>
                        </div>
                        <div class="form-label-group mt-3">
                            <input type="password" oninput="passwordValidation()" id="confirm-password" class="form-control" placeholder="Konfirmasi Password" required>
                            <small id="password-check" class="form-text text-danger">Password tidak sama</small>
                        </div>
                        
                        <input id="submit" class="btn primary-bg w-100 mt-3" type="submit" value="Masuk" disabled>
                    </form>
                    <p class="text-center text-secondary mt-3">Sudah punya akun? <a class="text-link" href="/login">Masuk disini</a></p>
                    <div class="card-title text-center">
                        <hr style="size: solid 2px;">
                        <h3 style="font-size: 15px;color: grey;">Futsalo Inc.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const passwordValidationText = document.getElementById('password-check')
    const passwordConfirm = document.getElementById('confirm-password')
    const submitBtn = document.getElementById('submit')

    passwordValidationText.style.display = 'none'

    function passwordValidation() {
        let password = document.getElementById('password').value
        let passwordConfirm = document.getElementById('confirm-password').value
        if (password.length > 0 && passwordConfirm.length > 0) {
            if (passwordConfirm == password && password.length >= 6) {
                console.log(true);
                passwordValidationText.style.display = 'none'
                submitBtn.disabled = false
            } else {
                console.log(false);
                passwordValidationText.style.display = 'block'
                submitBtn.disabled = true
            }
        }
    }
</script>